<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Filme </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1>Editando: <%= movie.title %> </h1>
    <form action="/movies/update/<%= movie.id %>" method="POST">
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" id="form6Example1" class="form-control" />
              <label class="form-label" for="form6Example1">Title</label>
            </div>
          </div>          
        </div>
      
        <!-- Text input -->
        <div class="form-outline mb-4">
          <input type="number" id="form6Example3" class="form-control" />
          <label class="form-label" for="form6Example3">Rating</label>
        </div>
      
        <!-- Text input -->
        <div class="form-outline mb-4">
          <input type="number" id="form6Example4" class="form-control" />
          <label class="form-label" for="form6Example4">Awards</label>
        </div>
      
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input value="<%= movie.release_date %> required" type="date" id="form6Example5" class="form-control" />
          <label class="form-label" for="form6Example5">Release Date</label>
        </div>
      
        <!-- Number input -->
        <div class="form-outline mb-4">
          <input type="number" id="form6Example6" class="form-control" />
          <label class="form-label" for="form6Example6">Length</label>
        </div>

        <label class="form-label" for="">Genre</label>
        <p>
            <select name="genre_id" id="" required>
                <% allGenres.forEach(genre => { %>
                <option value="<%= genre.id %>" <% if (movie.genres.id == genre.id) { %><%= 'selected' %><% }; %>><%= genre.name %></option>
                <% }); %>
            </select>
        </p>     
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Update Movie</button>
      </form>

</body>
</html>